body{
    font-family: 'Merriweather', serif;
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
    }
    h1{
        font-family: 'Otomanopee One', sans-serif;
        font-size: 40px;
    }
    .color{
        color: orange;
    }
    p{
        font-family: 'Merriweather', serif;
    }
    .flexible-container{
        display: flex;
        margin-bottom: 150px;
    }
    .half-width{
        width: 50%;
        padding-left: 6%;
        padding-right: 10%;
    }
    .half-width img{
        width: 100%; 
    }
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(orange, tomato);
        padding: 10px 40px;
        color: white;
        font-weight: 700;
        border-radius: 5%;
    }
    .top-banner{
        background-image: url(image/developer-portfolio-master/images/top-banner.png);
        background-repeat: no-repeat;
    }
    .dream-big{
        background-image: url(image/developer-portfolio-master/images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
         }

.experience{
    padding-left: 6%;
}
.experience-container{
    background-image: url(image/developer-portfolio-master/images/exp-bg.png);
    background-repeat: no-repeat;
    
}
   .experience-item{
       margin-left: 5%;
       margin-right: 5%;
       box-shadow: 20px 20px 40px gray;
       border-top-right-radius: 5%;
       border-bottom-right-radius: 5%;
       }
   #web-developer{
       border-left:  7px solid;
       border-image: linear-gradient(blue, aqua);
       border-image-slice: 1;
   }
   #full-stack{
    border-left:  7px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
   }