body{
    font-family: 'Merriweather', serif;
    font-family: 'Otomanopee One', sans-serif;
    }
    h1{
        font-family: 'Otomanopee One', sans-serif;
    }
    .color{
        color: orange;
    }
    p{
        font-family: 'Merriweather', serif;
    }
    section{
        display: flex;
    }
  